body {
  background-color: #828080; }

.icon {
  background-image: url('../images/sprite.png'); }

a {
  color: #828080;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:active, a:focus {
    border: 0 none;
    outline: 0 none; }
  a:before {
    content: ' '; }
  a.back:before {
    background-position: -5px -158px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    width: 6px;
    height: 9px;
    background-image: url('../images/sprite.png');
    margin-right: 10px; }
  a.pdf:before {
    background-position: -5px -177px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url('../images/sprite.png');
    vertical-align: middle; }
  a.word:before {
    background-position: -5px -366px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url('../images/sprite.png');
    vertical-align: middle; }
  a.frame-btn {
    background-color: #828080;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 14px;
    color: #fff; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none;
  list-style-image: none;
  margin: 0 !important;
  padding: 0 !important; }

.frame {
  width: 800px;
  background: #fff;
  margin: 40px auto 0;
  color: #606060; }
  .frame .title {
    height: 40px;
    background: #e3e3e3;
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 10px; }
    .frame .title .left {
      display: inline-block;
      border-right: 1px solid #fff;
      padding-right: 30px;
      padding-top: 9px;
      height: 100%; }
    .frame .title .right {
      display: inline-block;
      float: right; }
      .frame .title .right li:last-child a {
        padding-right: 0; }
    .frame .title ul li {
      display: inline-block;
      vertical-align: top;
      height: 40px;
      border-left: 1px solid #fff;
      text-align: center;
      margin-left: -4px; }
      .frame .title ul li a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px; }
        .frame .title ul li a.pdf, .frame .title ul li a.word {
          padding: 7px 10px 0; }
  .frame .content {
    margin-top: 40px; }
    .frame .content .head-block {
      border-bottom: 1px solid #e3e3e3;
      padding-bottom: 6px; }
      .frame .content .head-block h3 {
        font-size: 15px;
        font-weight: normal; }
      .frame .content .head-block .left {
        display: inline-block;
        width: 85%; }
      .frame .content .head-block .right {
        display: inline-block;
        margin-top: 5px;
        float: right; }
    .frame .content .text {
      margin-top: 7px; }
  .frame .info-line {
    font-style: italic;
    color: #8a8a8a;
    margin-top: 3px; }
    .frame .info-line span {
      display: inline-block; }
      .frame .info-line span.time:before {
        content: ' ';
        background-position: -5px -75px;
        background-repeat: no-repeat;
        overflow: hidden;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('../images/sprite.png');
        vertical-align: -2px;
        margin-right: 5px; }
      .frame .info-line span.date {
        margin-left: 20px; }
        .frame .info-line span.date:before {
          content: ' ';
          background-position: -5px -24px;
          background-repeat: no-repeat;
          overflow: hidden;
          display: inline-block;
          width: 13px;
          height: 17px;
          background-image: url('../images/sprite.png');
          vertical-align: -2px;
          margin-right: 5px; }
    .frame .info-line address {
      margin-left: 20px;
      display: inline-block; }
  .frame address {
    padding: 4px 10px;
    font-style: italic;
    color: #8a8a8a; }
    .frame address:before {
      content: ' ';
      background-position: -5px -51px;
      background-repeat: no-repeat;
      overflow: hidden;
      display: inline-block;
      width: 11px;
      height: 14px;
      background-image: url('../images/sprite.png');
      margin-right: 5px;
      vertical-align: -2px; }
  .frame .intends {
    padding-left: 20px;
    padding-right: 20px; }
  .frame .flags {
    width: 26px;
    height: 16px;
    display: block; }
    .frame .flags img {
      width: 100%;
      border: 1px solid #e3e3e3; }
  .frame .pager {
    margin-top: 20px;
    text-align: center; }
    .frame .pager ul li {
      display: inline-block;
      margin-right: 3px;
      margin-bottom: 30px;
      width: 18px;
      height: 18px;
      line-height: 16px;
      cursor: pointer; }
      .frame .pager ul li.first {
        border: 1px solid #e3e3e3; }
        .frame .pager ul li.first a {
          background-position: -5px -101px;
          background-repeat: no-repeat;
          overflow: hidden;
          display: inline-block;
          width: 11px;
          height: 9px;
          background-image: url('../images/sprite.png');
          vertical-align: 1px; }
      .frame .pager ul li.prev {
        border: 1px solid #e3e3e3;
        margin-right: 10px; }
        .frame .pager ul li.prev a {
          background-position: -5px -158px;
          background-repeat: no-repeat;
          overflow: hidden;
          display: inline-block;
          width: 6px;
          height: 9px;
          background-image: url('../images/sprite.png');
          vertical-align: 1px; }
      .frame .pager ul li.next {
        border: 1px solid #e3e3e3;
        margin-left: 10px; }
        .frame .pager ul li.next a {
          background-position: -5px -139px;
          background-repeat: no-repeat;
          overflow: hidden;
          display: inline-block;
          width: 6px;
          height: 9px;
          background-image: url('../images/sprite.png');
          vertical-align: 1px; }
      .frame .pager ul li.last {
        border: 1px solid #e3e3e3; }
        .frame .pager ul li.last a {
          background-position: -5px -120px;
          background-repeat: no-repeat;
          overflow: hidden;
          display: inline-block;
          width: 11px;
          height: 9px;
          background-image: url('../images/sprite.png');
          vertical-align: 1px; }
      .frame .pager ul li:hover, .frame .pager ul li.active {
        background: #e3e3e3;
        color: #606060;
        text-decoration: none; }
        .frame .pager ul li:hover a, .frame .pager ul li.active a {
          color: #606060; }
      .frame .pager ul li a {
        text-decoration: none;
        font-weight: bold; }

.frame .title ul {
  text-align: center; }
  .frame .title ul.dates li {
    width: 170px; }
    .frame .title ul.dates li:last-child {
      border-right: 1px solid #fff; }
    .frame .title ul.dates li a {
      width: 150px;
      padding-bottom: 10px; }
      .frame .title ul.dates li a:hover, .frame .title ul.dates li a.active {
        border-bottom: 3px solid #606060; }
.frame .time-period {
  margin-top: 20px; }
  .frame .time-period h3 {
    height: 26px;
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    padding-top: 3px;
    text-align: center; }
    .frame .time-period h3:before {
      content: ' ';
      background-position: -5px -75px;
      background-repeat: no-repeat;
      overflow: hidden;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('../images/sprite.png');
      margin-right: 5px;
      vertical-align: -2px; }
  .frame .time-period .info-block {
    border: 1px solid #e3e3e3;
    margin-top: 4px; }
    .frame .time-period .info-block h4 {
      font-style: italic;
      color: #8a8a8a;
      font-weight: normal;
      padding: 4px 10px; }
    .frame .time-period .info-block p {
      border-top: 1px solid #e3e3e3;
      padding: 10px 10px 8px;
      min-height: 64px; }
    .frame .time-period .info-block address {
      border-top: 1px solid #e3e3e3; }
  .frame .time-period.two-columns .info-block {
    display: inline-block;
    width: 48%; }
    .frame .time-period.two-columns .info-block:last-child {
      margin-left: 3%;
      float: right; }
  .frame .time-period.three-columns .info-block {
    display: inline-block;
    width: 31%; }
    .frame .time-period.three-columns .info-block:nth-last-child(2) {
      margin-left: 3%; }
    .frame .time-period.three-columns .info-block:last-child {
      float: right; }

.frame .person {
  width: 156px;
  padding: 20px 10px 10px; }
  .frame .person .person-photo {
    width: 135px; }
    .frame .person .person-photo img {
      border: 1px solid #e3e3e3;
      width: 100%; }
    .frame .person .person-photo:hover {
      background: #e3e3e3; }
  .frame .person .person-text {
    width: 135px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px; }
    .frame .person .person-text h4 {
      margin: 3px 0 2px; }
  .frame .person:hover {
    background: #e3e3e3; }

.frame .content-slider {
  margin: 0 40px; }
.frame .slider-arrows {
  position: absolute;
  top: 50%;
  width: 800px; }
  .frame .slider-arrows a {
    display: inline-block;
    background-color: #e3e3e3;
    width: 20px;
    height: 125px; }
    .frame .slider-arrows a:before {
      content: ' ';
      margin-top: 45px;
      margin-left: 4px; }
    .frame .slider-arrows a:hover {
      background-color: #828080; }
    .frame .slider-arrows a.prev:before {
      background-position: -5px -214px;
      background-repeat: no-repeat;
      overflow: hidden;
      display: inline-block;
      width: 11px;
      height: 28px;
      background-image: url('../images/sprite.png'); }
    .frame .slider-arrows a.prev:hover:before {
      background-position: -5px -252px;
      background-repeat: no-repeat;
      overflow: hidden;
      display: inline-block;
      width: 12px;
      height: 28px;
      background-image: url('../images/sprite.png'); }
    .frame .slider-arrows a.next {
      float: right; }
      .frame .slider-arrows a.next:before {
        background-position: -5px -290px;
        background-repeat: no-repeat;
        overflow: hidden;
        display: inline-block;
        width: 11px;
        height: 28px;
        background-image: url('../images/sprite.png'); }
      .frame .slider-arrows a.next:hover:before {
        background-position: -5px -328px;
        background-repeat: no-repeat;
        overflow: hidden;
        display: inline-block;
        width: 12px;
        height: 28px;
        background-image: url('../images/sprite.png'); }
.frame .content-slider + .slider-arrows {
  margin-top: -140px; }
.frame .person-slider {
  position: relative;
  z-index: 1;
  margin: 30px 20px 0; }
  .frame .person-slider + .slider-arrows {
    margin-top: -64px; }
